
<div class="top">
  <!-- トップ画像 -->
  <img src="/assets/260_penthouse.jpg" class="radio_image" height="200" width="323.6">
  <p>Lifepick! byリノベる。</p>
  <hr>

  <!-- 説明文章 -->
  <div>
    <p>
      リノベーションの、美味しいところだけ楽しむ。<br>
      請負実績no.1のリノベる。が選び抜いた「暮らしのコンセプト」をパッケージ化。<br>
      自分たちにあったコンセプトと間取り、こだわりたいポイントを選ぶだけ。<br>
      細かいところはリノベる。にお任せ！
    </p>
  </div>

  <!-- 流れ -->
  <div>
    <p>・・・Lifepick!を利用した流れ・・・</p>
    <ul>
      <li>1. リノベる。で物件を見つける</li>
      <li>▼▼▼</li>
      <li>2. Lifepickでイメージを選ぶ</ll>
      <li>▼▼▼</li>
      <li>3. WEBでプラン打合わせをする</ll>
    </ul>
  </div>

  <!-- パッケージ一覧へのリンク -->
  <div>
    <a href="/packages/" class="square_btn">パッケージ一覧をみる</a>
  </div>

  <!-- リノベる。へのリンク -->
  <div>
    <hr>
    <p>本サービスはリノベる。で物件を見つけられた方が対象となります。<br>まずはリノベる。のサービスをご覧ください。</p>
    <a href="#" class="square_sub_btn">リノベる。WEBサイトへ</a>
  </div>
</div>
