<h1>自由記入ページ</h1>
<p>（仮）書きたいことを書くフォームを用意する予定</p>




<!-- メインボタンの表示 -->
<div class="#">
  <a href="/pick/create" class="square_btn">この内容で依頼する</a>
</div>

<!-- サブボタンの表示 -->
<div class="#">
  <a href="/" class="square_sub_btn">TOPに戻る</a>
</div>
