<h1>結果ページ</h1>
<p>（仮）ここに選択したアイテムが一度に表示される予定</p>

<!-- メインボタンの表示 -->
<div class="#">
  <a href="/pick/edit" class="square_btn">自由記入に進む</a>
</div>

<!-- サブボタンの表示 -->
<div class="#">
  <a href="/" class="square_sub_btn">TOPに戻る</a>
</div>
