/* 全体影響 *//* 全体影響 *//* 全体影響 *//* 全体影響 *//* 全体影響 */
/* main color == amber darken-3 == #ff8f00 */
$orange:#ff8f00;
/* 補足color == grey lighten-1 == #bdbdbd */
$grey:#bdbdbd;

hr {
  border: 1px $grey solid
}

/* float防ぎ */
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}



/* TOP *//* TOP *//* TOP *//* TOP *//* TOP */
.top {
  margin: 0 auto;
  text-align: center;
}



/* パッケージ一覧 *//* パッケージ一覧 *//* パッケージ一覧 *//* パッケージ一覧 *//* パッケージ一覧 */
/* パッケージ一覧全体 */
.package {
  margin: 0 auto;
  width: 580px; /* サムネイル画像横幅290px */
}

/* パッケージ一覧の画像＆名称 */
.package_list {
  height: 200px;
  font-weight:bold;
}



/* パッケージ詳細 *//* パッケージ詳細 *//* パッケージ詳細 *//* パッケージ詳細 *//* パッケージ詳細 */
/* パッケージ詳細全体 */
.package_detail {
  margin: 0 auto;
  width: 580px; /* サムネイル画像横幅290px */
  text-align: center;
}

/* パッケージ詳細のヘッダー画像 */
.package_image {
  height: 200px;
}

/* 図面イメージ */
.package_plan {
  width: 300px;
  height: 200px;
  background-size: cover;
  margin: 10px auto;
  border: 1px $grey solid /* color == grey lighten-1 */
}

/* 写真のグリッド */
.grid {

  & li {
    margin: 5px;
    float: left;
    list-style: none;
  }
}

/* メインボタン */
.square_btn {
  display: inline-block;
  margin: 10px;
  padding: 0.3em 1em;
  text-decoration: none;
  color: $orange;
  border: solid 2px $orange;
  border-radius: 3px;
  transition: .4s;
  font-size: 18pt;

  &:hover {
    background: $orange;
    color: white;
  }
}

/* サブボタン */
.square_sub_btn {
  display: inline-block;
  margin: 10px;
  padding: 0.3em 1em;
  text-decoration: none;
  color: $grey;
  border: solid 2px $grey;
  border-radius: 3px;
  transition: .4s;
  font-size: 8pt;

  &:hover {
    background: $grey;
    color: white;
  }
}

// picks画面 // picks画面 // picks画面 // picks画面 // picks画面
#picks_header-fixed{
  position: fixed;
  // ##z-index 前面に置きたい時に使用する。大きいほど前面に出る
  z-index: 9999;
  top:  0px;
  left: 0px;
  width:  100%;
  height: 50px;
}

#picks_header-bk{
  background-color: #fff;
  top:  0px;
  left: 0px;
  width:  100%;
  height: 50px;
}

.contents_picks {
  margin: 50px auto;
  // text-align: center;
}

/* 画像の右下に文字を置く*/
.relative {
  position: relative;
  float: left; /* 複数画像を横並びにするために記載*/
  margin: 5px;

}
.absolute {
  position: absolute;
  bottom: 7px;
  color: #fff;
  background: rgba(0,0,0,.4); /* 透過。4つ目が0~1で設定可能*/
  width: 161.8px; /* 背景画像の横幅に合わせる*/
}

.absolute p {
  margin: 0;
  padding: 0.3em 1em;
  text-align: right;
  font-size: 8pt;
}

/* 合計金額*/
#total_price{
  font-size: 24px;
  color: $orange;
}

/* ラジオボタンの代わりに画像で選択できるために設定*/
/* ラジオボタンを非表示*/
.radio {
  display: none;
}

/* 選択された画像の表示方法*/
.radio:checked + .radio_image {
  border: 3px $orange solid; /* オレンジ枠 */
}

/* 選択されていない画像の表示方法*/
.radio + .radio_image {
  // border: 3px #ffffff solid;
  // background-color: #ffffff;
}
